{{ partial "header.html" . }}
<div class="article-meta">
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
  {{ if .Params.date }}<h4 class="date">{{ .Date.Format "2006/01/02" }}</h4>{{ end }}

  {{ range $i := (slice "categories" "tags") }}
    {{ with ($.Param $i) }}
      <p class="terms">
        <strong>{{ $i | title }}:</strong>  
        {{ range $k := . }}
        <a href='{{ "/undercoverunicorn/" | relURL }}{{ $i }}/{{ $k | urlize }}/'>{{ $k }}</a>
        {{ end }}
      </p>
    {{ end }}
  {{ end }}
</div>

</p>
</div>

<div class="content-wrapper">
  <main>
    <details>
      <summary>Table of Contents</summary>
      {{ .TableOfContents }}
    </details>    
    <hr id="table-of-contents">
    {{ .Content }}
    <div class="links">
    <a href="/undercoverunicorn"> >> Home</a>
    <a href="#" class="top pull-right">Back to Top &#8593;</a>
  </div>
  </main>
</div>
{{ partial "footer.html" . }}
